In [50]:
import os 
import pandas as pd
base_url = 'C:/Users/scsoo/OneDrive/바탕 화면/sample-data-master/sample-data-master/anime'
anime_csv = os.path.join(base_url, 'anime.csv')
df = pd.read_csv(anime_csv)

df.loc[df['episodes'] == 'Unknown'].head()

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
1226,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,Unknown,7.61,17571

In [7]:
#DataFrmae.where()의 사용법
#해당하지 않는 데이터를 NaN으로 채운 dataframe을 리턴
df.where(df['rating']<9.2).head()

,anime_id,name,genre,type,episodes,rating,members
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253.0,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969.0,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [9]:
#행, 열을 지정해서 값 바꾸기
import numpy as np
df.loc[74, 'episodes'] = np.nan
df.loc[74, 'episodes']

nan

In [11]:
#복수의 값 변경
df.loc[df['episodes'] == 'Unknown','episodes'] = np.nan
df.loc[df['episodes'] == 'Unknown','episodes']

Series([], Name: episodes, dtype: object)

In [13]:
#결손값 제외하기
df.loc[df['episodes'].isnull()]

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,NaN,8.58,504862
74,801,Ghost in the Shell: Stand Alone Complex 2nd GIG,"Action, Mecha, Military, Mystery, Police, Sci-...",TV,NaN,8.57,113993
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,NaN,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,NaN,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,NaN,7.72,5400
...,...,...,...,...,...,...,...
10474,32924,Urara Meirochou,"Comedy, Seinen, Slice of Life",TV,NaN,NaN,4305
10476,34522,"Wake Up, Girls! Shin Shou","Drama, Music",TV,NaN,NaN,381
10477,34022,Whistle! (ONA),"School, Shounen, Sports",ONA,NaN,NaN,381
10478,34467,Yami Shibai 4th Season,"Dementia, Horror, Supernatural",TV,NaN,NaN,1838
10479,32615,Youjo Senki,"Magic, Military",TV,NaN,NaN,6652

In [15]:
#결손값 데이터 제외
df.dropna().loc[70:].head()

,anime_id,name,genre,type,episodes,rating,members
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
75,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074
76,5205,Kara no Kyoukai 7: Satsujin Kousatsu (Kou),"Action, Mystery, Romance, Supernatural, Thriller",Movie,1,8.57,95658

In [17]:
#dropna는 비파괴적 조작이다.
#옵션으로 inplace를 집어넣으면 파괴적 조합이 된다
df.dropna(inplace=True)
df.loc[70:].head()
#파괴적 조작을 하면 참조되어 있는 모든 것이 수정되기에 주의가 필요

,anime_id,name,genre,type,episodes,rating,members
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
75,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074
76,5205,Kara no Kyoukai 7: Satsujin Kousatsu (Kou),"Action, Mystery, Romance, Supernatural, Thriller",Movie,1,8.57,95658

In [19]:
#데이터형 확인
df['anime_id'].dtype

dtype('int64')

In [21]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [23]:
#형 변환
df['episodes'].astype(np.int64)

0         1
1        64
2        51
3        24
4        51
         ..
10272     1
10273    23
10274     1
10275     1
10276    32
Name: episodes, Length: 10075, dtype: int64

In [24]:
#복수열 형 변환
df.astype({'episodes' : np.int64, 'rating' : np.float64})

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
10272,11095,Zouressha ga Yatte Kita,Adventure,Movie,1,6.06,78
10273,7808,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23,6.47,172
10274,28543,Zukkoke Sannin-gumi no Hi Asobi Boushi Daisakusen,"Drama, Kids",OVA,1,5.83,50
10275,18967,Zukkoke Sannin-gumi: Zukkoke Jikuu Bouken,"Comedy, Historical, Sci-Fi",OVA,1,6.13,76
10276,13455,Zumomo to Nupepe,Comedy,TV,32,7.00,120

In [27]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [29]:
#데이터 프레임을 다시 쓰는 경우에는 열을 지정해서 대입한다.
df['episodes'] = df['episodes'].astype(np.int64)
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes      int64
rating      float64
members       int64
dtype: object

In [31]:
#정렬하기(비파괴적 조작)
df.sort_values('rating', ascending = False).head()

,anime_id,name,genre,type,episodes,rating,members
9846,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
8985,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
8474,33607,Kahei no Umi,Historical,Movie,1,9.33,44
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665

메서드  |통용대상                |돌아오는값
--------|----------------------|-----
map     |Series(값별)          |Series
--------|----------------------|------
apply   |DateFrame(열 또는 행별)|Series
--------|----------------------|---
applymap|DateFrame(값별)       |DateFrame

In [34]:
import html

print(df['name'].head())
print(df['name'].map(html.unescape).head())

0                      Kimi no Na wa.
1    Fullmetal Alchemist: Brotherhood
2                            Gintama°
3                         Steins;Gate
4                       Gintama&#039;
Name: name, dtype: object
0                      Kimi no Na wa.
1    Fullmetal Alchemist: Brotherhood
2                            Gintama°
3                         Steins;Gate
4                            Gintama'
Name: name, dtype: object

In [36]:
df.apply(len)

anime_id    10075
name        10075
genre       10075
type        10075
episodes    10075
rating      10075
members     10075
dtype: int64

In [40]:
df.apply(len, axis = 1).head()

0    7
1    7
2    7
3    7
4    7
dtype: int64

In [42]:
df.apply(type)

anime_id    <class 'pandas.core.series.Series'>
name        <class 'pandas.core.series.Series'>
genre       <class 'pandas.core.series.Series'>
type        <class 'pandas.core.series.Series'>
episodes    <class 'pandas.core.series.Series'>
rating      <class 'pandas.core.series.Series'>
members     <class 'pandas.core.series.Series'>
dtype: object

In [44]:
df.apply(lambda x: len(x['name']) + len(x['genre']), axis = 1).head()

0    50
1    91
2    68
3    27
4    73
dtype: int64

In [46]:
df[['name','genre']].applymap(len).head()

C:\Users\scsoo\AppData\Local\Temp\ipykernel_18720\625548155.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['name','genre']].applymap(len).head()

   name  genre
0    14     36
1    32     59
2     8     60
3    11     16
4    13     60